* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 40px;
}

.splash {
    display: flex;
    flex-direction: row;
    font-family: 'Muli', sans-serif;
    background-image: linear-gradient(to bottom right, navy, black);
    padding-left: 2.5em;
}

.splash h1 {
    font-size: 3em;
    font-weight: normal;
}

.learn-more-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
}

.learn-more-space p {
    padding-bottom: 1.5em;
    font-size: 1.3em;
}

.link-button {
    background-color: #0000cc;
    color: white;
    font-size: 1.2em;
    font-style: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    width: 170px;
    border: none;
    outline: none;
    cursor: pointer;
}

a:hover, .link-button:hover {
    background-color: #3333ff;
}

.signup-message {
    border: grey 1px solid;
    margin: 2em;
    padding: 1em 2em 2em 2em;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.signup-message p {
    color: #505050;
}

@media screen and (max-width: 1100px) {
    .splash {
        flex-direction: column;
    }

    .signup-message {
        margin: 2em 2em 2em 0;
    }
}