.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.social-media-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
}

.signup-form .fb {
    background-color: #3B5998;
    color: white;
}

.signup-form .twitter {
    background-color: #55ACEE;
    color: white;
}

.signup-form .google {
    background-color: #dd4b39;
    color: white;
}

/* style the submit button */

.signup-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.signup-form input[type=submit]:hover {
    background-color: #45a049;
}

.signup-form .btn {
    width: 240px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;    
}

.manual-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-left: #CFCDCD solid 2px;
    padding-left: 25px;
}

.manual-signup .btn {
    align-self: center;
}

.signup-form input:hover, .btn:hover {
    opacity: 1;
}

@media screen and (max-width: 666px) {
    .signup-form {
        flex-direction: column;

    }

    .social-media-signup {
        align-items: flex-start;
    }

    .manual-signup {
        padding-left: 0;
        border-left: none;
    }
    
    .manual-signup .btn {
        align-self: flex-start;
    }
}
