/* --- Global stuff --- */

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.main {
    margin-top: 52px;
}

input[type=text] {
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
}

h3 {
    font-size: 1.5em;
    padding: 5px 0 5px 0;
}

h4 {
    font-size: 1.1em;
    padding: 5px 0 5px 0;
}

.link-button {
    background-color: #0000cc;
    color: white;
    font-size: 1.2em;
    font-style: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    width: 170px;
    border: none;
    outline: none;
    cursor: pointer;
}

.link-button:hover {
    background-color: #3333ff;
}

/* --- Top navigation bar--- */

.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e9e9e9;
}

.topnav .logo-space {
    display: flex;
    flex-direction: row;
    padding: 0 1.5em 0 0.5em;
}

.topnav .logo-space img {
    width: 50px;
    height: 50px;
}

.topnav .logo-space p {
    margin-top: 14px;
}

.topnav .search-space {
    padding-right: 20px;
    width: 100%;
}

.topnav .search-space input[type="text"] {
    font-size: 17px;
}

.topnav .account-space {
    display: flex;
}

.topnav .account-space img {
    height: 45px;
    width: 45px;
    padding: 3px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav #signup-link {
    background-color: #0000cc;
    color: white;
}

.topnav #signup-link:hover {
    background-color: #3333ff;
}

/* --- Splash screen --- */

.splash {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, navy, black);
    padding-left: 2.5em;
}

.splash h1 {
    padding-top: 1em;
    font-size: 3em;
    font-weight: normal;
}

.splash .learn-more-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
}

.splash .learn-more-space p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.3em;
}

/* --- Sign up form --- */

.signup-message p {
    color: #505050;
}

.signup-message {
    border: grey 1px solid;
    margin: 2em;
    padding: 1em 2em 2em 2em;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.social-media-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
}

.signup-form .fb {
    background-color: #3B5998;
    color: white;
}

.signup-form .twitter {
    background-color: #55ACEE;
    color: white;
}

.signup-form .google {
    background-color: #dd4b39;
    color: white;
}

.signup-form input[type=submit]:hover {
    background-color: #45a049;
}

.signup-form .btn {
    width: 240px;
    padding: 12px;
    text-align: left;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;    
}

.signup-form input[type=submit] {
    background-color: #4CAF50;
    text-align: center;
    color: white;
    cursor: pointer;
}

.manual-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-left: #CFCDCD solid 2px;
    padding-left: 25px;
}

.manual-signup .btn {
    align-self: center;
}

/* --- Question picker --- */

.question-picker {
    display: flex;
    flex-direction: row;
}

.question-picker nav {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    width: 240px;
    min-width: 240px;
}

.question-picker .sort-by {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: #CFCDCD solid 2px;
}

.question-picker .subject-filter {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
}

.question-picker .sort-by i {
    margin-right: 10px;
}

.question-picker .sort-by .btn {
    text-align: left;
}

.question-picker .tag-filter {
    text-align: left;
}

.question-picker .subject-filter h4 {
    margin-top: 1em;
}

.question-picker .subject-filter input[type="text"] {
    margin-bottom: 1em;
}

.question-picker .subject-filter .tag-filter {
    width: 80%;
    text-decoration: line-through;
}

.question-picker .subject-filter .tag-filter.active {
    text-decoration: none;
}

.question-picker .question-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgba(92, 92, 110, 0.781);
}

.question-picker .question-list .question-title {
    padding: 0.5em;
    background-color: #d5d5df;
    color: black;
    text-align: center;
    font-size: 20px;
}

/* .question-picker .question-list .question-title.cold {
    background-color: rgb(196, 224, 245);
    color: black;
}

.question-picker .question-list .question-title.warming {
    background-color: rgb(0, 4, 255);
    color: white;
}

.question-picker .question-list .question-title.warm {
    background-color: rgb(255, 230, 0);
    color: black;
}

.question-picker .question-list .question-title.warmer {
    background-color: rgb(255, 153, 0);
    color: black;
}

.question-picker .question-list .question-title.hot {
    background-color: rgb(255, 102, 0);
    color: white;
}

.question-picker .question-list .question-title.hottest {
    background-color: rgb(209, 2, 2);
    color: white;
}*/

.question-picker .question-list .question {
    background-color: #e9e9e9;
    box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.75);
    border-radius: 8px;
}

.question-picker .question-list .question .question-stats {
    display: flex;
    flex-direction: row;
}

.question-picker .question-list .question .question-detail {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #505050;
    padding: 7px;
    min-height: 135px;
    max-height: 135px;
    border-bottom: 1px solid lightgrey;
}

.question-picker .question-list .question .question-date-author {
    padding: 7px;
}

.question-picker .question-list .question .question-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.question-picker .question-list .question .question-tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
}

.question-picker .question-list .question .question-tags-list .question-tag {
    background-color: rgb(244, 245, 220);
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

.question-picker .question-list .question .question-stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.question-picker .question-list .question .question-stat i {
    margin-right: 4px;
}

.question-picker .question-list .question .question-stat.watching {
    background-color: #3B5998;
    color: white;
}

.question-picker .question-list .question .question-stat.stared {
    background-color: goldenrod;
    color: white;
}

.question-picker .question-list .question .question-stat.liked {
    background-color: green;
    color: white;
}

.question-picker .question-list .question .question-stat.disliked {
    background-color: red;
    color: white;
}

/* --- Media queries --- */

@media screen and (max-width: 1325px) {
    .splash {
        flex-direction: column;
    }

    .signup-message {
        margin: 2em 2em 2em 0;
    }
}

@media screen and (max-width: 715px) {
    .signup-message {
        margin: 2em 2em 2em 0;
    }

    .signup-form {
        flex-direction: column;
    }

    .social-media-signup {
        align-items: flex-start;
    }

    .manual-signup {
        padding-left: 0;
        border-left: none;
    }
    
    .manual-signup .btn {
        align-self: flex-start;
    }
}
