/* --- Global stuff --- */

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: #141422;
}

.main {
    margin-top: 52px;
}

input[type=text] {
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #141422;
    color: #d0d0d2;
}

h3 {
    font-size: 1.5em;
    padding: 5px 0 5px 0;
}

h4 {
    font-size: 1.1em;
    padding: 5px 0 5px 0;
}

.link-button {
    background-color: #0000cc;
    color: white;
    font-size: 1.2em;
    font-style: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    width: 170px;
    border: none;
    outline: none;
    cursor: pointer;
}

.link-button:hover {
    background-color: #3333ff;
}

.btn:focus:active {
    outline: none;
}

.btn-light {
    background-color: #141422;
    border: none;
    color: #d0d0d2 !important;
    font-weight: bold;
}

.btn-light:hover {
    background-color: #373743;
}

.btn-light.active {
    background-color: #373743 !important;
}

/* --- Top navigation bar--- */

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #262633;
    z-index: 100;
    box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.75);
    color: #d0d0d2;
    padding: 8px 12px 8px 4px;
}

.topnav .fa-times-circle {
    color: #af1038;
    margin: 0 4px 0 4px;
}

.topnav .fa-check-circle {
    color: #28a745;
    margin: 0 4px 0 4px;
}

.brand-space {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    color: #45c3ec;
}

.topnav button {
    width: 8em;
    align-self: flex-end;
}

.search-space {
    flex-grow: 1;
    padding: 0 12px 0 4px;
}

.search-space-mobile, .account-space-mobile {
    position: absolute;
    left: -9999px;
}

.search-space-mobile button, .account-space-mobile button {
    width: 58px;
}

/* --- Splash screen --- */

.splash {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, navy, black);
    padding-left: 2.5em;
}

.splash h1 {
    padding-top: 1em;
    font-size: 3em;
    font-weight: normal;
}

.learn-more-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
}

.learn-more-space p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.3em;
}

/* --- Sign up form --- */

.signup-message p {
    color: #505050;
}

.signup-message {
    border: grey 1px solid;
    margin: 2em;
    padding: 1em 2em 2em 2em;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social-media-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
}

.signup-form .fb {
    background-color: #3B5998;
    color: white;
}

.signup-form .twitter {
    background-color: #55ACEE;
    color: white;
}

.signup-form .google {
    background-color: #dd4b39;
    color: white;
}

.signup-form input[type=submit]:hover {
    background-color: #45a049;
}

.signup-form .btn {
    width: 240px;
    padding: 12px;
    text-align: left;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.signup-form input[type=submit] {
    background-color: #4CAF50;
    text-align: center;
    color: white;
    cursor: pointer;
}

.manual-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-left: #CFCDCD solid 2px;
    padding-left: 25px;
}

.manual-signup .btn {
    align-self: center;
}

/* --- Question picker --- */

.question-picker {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #262633;
    width: 240px;
    min-width: 240px;
    overflow-x: hidden;
    color: #d0d0d2;
}

.sort-by {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.subject-filter {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
}

.sort-by i {
    margin-right: 10px;
}

.sort-by .btn {
    text-align: left;
}

.subject-filter h4 {
    margin-top: 1em;
}

.subject-filter input[type="text"] {
    margin-bottom: 1em;
}

.tag-filter {
    text-align: left;
    width: 80%;
}

.excluded-tag-filter {
    text-decoration: line-through;
}

.excluded-tag-filter:hover {
    text-decoration: line-through;
}

.question-list {
    column-gap: 12px;
    padding: 12px;
}

.question {
    display: flex;
    flex-direction: column;
    margin: 0 0 12px 0;
    background-color: #262633;
    transition: all 300ms;
    color: #d0d0d2;
    border-radius: 8px;
    break-inside: avoid;
}

.question-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: #45c3ec;
    font-size: x-large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.question-detail {
    padding: 9px;
}

.question-date-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7px;
}

.question-date-author i {
    margin-right: 5px;
}

.question-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}

.question-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.question-tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 5px 3px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.question-tag {
    background-color: #141422;
    padding: 5px 10px 5px 5px;
    margin: 3px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
}

.question-dept {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 10px;
}

.question-activity {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.question-rattings {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    padding: 12px 10px 10px 8px;
    width: 100%;
}

.question-rattings .progress {
    width: 100%;
    margin-left: 5px;
    background-color: #141422;
}

.question-stats {
    margin: 12px 10px 11px 10px;
}

.question-stat.active>span, .question-stat.active>i {
    color: white !important;
}

.question-stat.watching.active {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.question-stat.stared.active {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.question-stat.liked.active {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.question-stat.disliked.active {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

/* --- Media queries --- */

@media screen and (max-width: 1325px) {
    .splash {
        flex-direction: column;
    }
    .signup-message {
        margin: 2em 2em 2em 0;
    }
}

@media screen and (max-width: 730px) {
    nav {
        width: 0;
        min-width: 0;
    }
    .search-space, .account-space {
        position: absolute;
        left: -9999px;
    }
    .search-space-mobile, .account-space-mobile {
        position: unset;
        left: unset;
    }
    .search-space-mobile i, .account-space-mobile i {
        margin-right: 0;
    }
    .topnav {
        justify-content: space-between;
        padding: 8px 4px 8px 4px;
    }
}

@media screen and (max-width: 685px) {
    .signup-message {
        margin: 2em 2em 2em 0;
    }
    .signup-form {
        flex-direction: column;
    }
    .social-media-signup {
        align-items: flex-start;
    }
    .manual-signup {
        padding-left: 0;
        border-left: none;
    }
    .manual-signup .btn {
        align-self: flex-start;
    }
}

@media screen and (max-width: 380px) {
    .question-date-author {
        flex-direction: column;
    }
}
