/* --- Global stuff --- */

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.main {
    margin-top: 52px;
}

input[type=text] {
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
}

h3 {
    font-size: 1.5em;
    padding: 5px 0 5px 0;
}

h4 {
    font-size: 1.1em;
    padding: 5px 0 5px 0;
}

.link-button {
    background-color: #0000cc;
    color: white;
    font-size: 1.2em;
    font-style: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    width: 170px;
    border: none;
    outline: none;
    cursor: pointer;
}

.link-button:hover {
    background-color: #3333ff;
}

.btn:focus:active {
    outline: none;
}

/* --- Top navigation bar--- */

.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e9e9e9;
    z-index: 100;
    box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.75);
}

.topnav .logo-space {
    display: flex;
    flex-direction: row;
    padding: 0 1.5em 0 0.5em;
}

.topnav .logo-space img {
    width: 50px;
    height: 50px;
}

.topnav .logo-space p {
    margin-top: 14px;
}

.topnav .search-space {
    padding-right: 20px;
    width: 100%;
}

.topnav .search-space input[type="text"] {
    font-size: 17px;
}

.topnav .account-space {
    display: flex;
}

.topnav .account-space img {
    height: 45px;
    width: 45px;
    padding: 3px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav #signup-link {
    background-color: #0000cc;
    color: white;
}

.topnav #signup-link:hover {
    background-color: #3333ff;
}

/* --- Splash screen --- */

.splash {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, navy, black);
    padding-left: 2.5em;
}

.splash h1 {
    padding-top: 1em;
    font-size: 3em;
    font-weight: normal;
}

.learn-more-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
}

.learn-more-space p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.3em;
}

/* --- Sign up form --- */

.signup-message p {
    color: #505050;
}

.signup-message {
    border: grey 1px solid;
    margin: 2em;
    padding: 1em 2em 2em 2em;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social-media-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
}

.signup-form .fb {
    background-color: #3B5998;
    color: white;
}

.signup-form .twitter {
    background-color: #55ACEE;
    color: white;
}

.signup-form .google {
    background-color: #dd4b39;
    color: white;
}

.signup-form input[type=submit]:hover {
    background-color: #45a049;
}

.signup-form .btn {
    width: 240px;
    padding: 12px;
    text-align: left;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.signup-form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.signup-form input[type=submit] {
    background-color: #4CAF50;
    text-align: center;
    color: white;
    cursor: pointer;
}

.manual-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-left: #CFCDCD solid 2px;
    padding-left: 25px;
}

.manual-signup .btn {
    align-self: center;
}

/* --- Question picker --- */

.question-picker {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    width: 240px;
    min-width: 240px;
}

.sort-by {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: #CFCDCD solid 2px;
}

.subject-filter {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
}

.sort-by i {
    margin-right: 10px;
}

.sort-by .btn {
    text-align: left;
}

.tag-filter {
    text-align: left;
}

.subject-filter h4 {
    margin-top: 1em;
}

.subject-filter input[type="text"] {
    margin-bottom: 1em;
}

.tag-filter {
    width: 80%;
    text-decoration: line-through;
}

.tag-filter.active {
    text-decoration: none;
}

.question-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgba(92, 92, 110, 0.781);
}

.question {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 525px;
    margin: 8px;
    background-color: #e9e9e9;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    transition: all 300ms;
}

.question:hover {
    transform: translate(0, -6px);
    box-shadow: 12px 12px 8px -4px rgba(0, 0, 0, 0.75);
}

.question-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: black;
    background-color: #d3d9df;
    text-align: center;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 78px;
}

.question-title:hover {
    cursor: pointer;
    background-color: #c6dcf0;
}

.question-detail {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #505050;
    padding: 9px;
    min-height: 135px;
    max-height: 135px;
    border-bottom: 1px solid lightgrey;
}

.question-date-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7px;
    border-bottom: 1px solid lightgrey;
}

.question-date-author i {
    margin-right: 5px;
}

.question-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
}

.question-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.question-tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 5px 3px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 78px;
}

.question-tag {
    background-color: #d3d9df;
    padding: 5px 10px 5px 5px;
    margin: 3px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
}

.question-dept {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 10px;
}

.question-activity {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.question-rattings {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 12px 10px 10px 8px;
    width: 100%;
    border-top: 1px solid lightgrey;
}

.question-rattings .progress {
    width: 100%;
    margin-left: 5px;
    background-color: white;
}

.question-stats {
    margin: 3px 10px 11px 10px;
}

.question-stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.question-stat.active {
    border: none !important;
}

.question-stat i {
    margin-right: 4px;
}

.question-stat>span, .question-stat>i {
    color: black;
}

.question-stat.active>span, .question-stat.active>i {
    color: white !important;
}

.question-stat.watching.active {
    /* background-color: #3B5998 !important; */
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.question-stat.stared.active {
    /* background-color: rgb(214, 157, 11) !important; */
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.question-stat.liked.active {
    /* background-color: rgb(0, 114, 0) !important; */
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.question-stat.disliked.active {
    /* background-color: rgb(145, 0, 0) !important; */
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

/* --- Media queries --- */

@media screen and (max-width: 1325px) {
    .splash {
        flex-direction: column;
    }
    .signup-message {
        margin: 2em 2em 2em 0;
    }
}

@media screen and (max-width: 715px) {
    .signup-message {
        margin: 2em 2em 2em 0;
    }
    .signup-form {
        flex-direction: column;
    }
    .social-media-signup {
        align-items: flex-start;
    }
    .manual-signup {
        padding-left: 0;
        border-left: none;
    }
    .manual-signup .btn {
        align-self: flex-start;
    }
}