.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e9e9e9;
}

.topnav .logo-space {
    display: flex;
    flex-direction: row;
    padding: 0 1.5em 0 0.5em;
}

.topnav .logo-space img {
    width: 50px;
    height: 50px;
}

.topnav .search-space {
    padding-right: 20px;
    width: 100%;
}

.topnav .search-space input[type=text] {
    float: left;
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}

.topnav .search-space button:hover {
    background: #ccc;
}

.topnav .account-space {
    display: flex;
}

.topnav .account-space img {
    height: 45px;
    width: 45px;
    padding: 3px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav #signup-link {
    background-color: #0000cc;
    color: white;
}

.topnav #signup-link:hover {
    background-color: #3333ff;
}
